.debug-page > div {
    float: left;
    width: 25%;
}

.debug-page > div > div {
    border: 1px solid #000;
    min-height: 100px;
    margin: 10px;
    padding: 5px;
}

.debug-page:after {
    clear: both;
    content: '';
    display: block;
}

.debug-nested-prop {
    margin-left: 5px;
}

.debug-title {
    font-weight: bold;
    bottom: 2px;
}
